<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者メニュー</title>
    <link rel="stylesheet" href="/css/manager.css">
</head>
<body>
    <div class="menu-container manager-menu">
        <h5>管理者メニュー</h5>

        <a th:href="@{/control/usersControl}" class="menu-btn">ユーザー管理</a>
        <a th:href="@{/search/usersSearch}" class="menu-btn">ユーザー検索</a>
        <a th:href="@{/control/goodsControl}" class="menu-btn">商品管理</a>
        <a th:href="@{/search/goodsSearch}" class="menu-btn">商品検索</a>
        <a th:href="@{/login}" class="menu-btn logout">ログアウト</a>
    </div>
</body>
</html>
